# Example secret file for Odoo database configuration.
# This file MUST NOT be used as is.
# Please put a copy of this file in the secrets/ directory.

apiVersion: v1
kind: Secret
metadata:
  name: bdd-odoo
  namespace: icgroup
type: Opaque
stringData:
    BDD_USER: "my_username_odoo" # Username for the Odoo database
    BDD_PASSWORD: "my_password_odoo" # Password for the Odoo database
