# Example secret file for pgadmin access.
# This file MUST NOT be used as is.
# Please put a copy of this file in the secrets/ directory to use it.

apiVersion: v1
kind: Secret
metadata:
  name: pgadmin
  namespace: icgroup
type: Opaque
stringData:
    PGADMIN_EMAIL: "my@email.address" # Username/email for pgadmin; must be a valid email address
    PGADMIN_PASSWORD: "my_pgadmin_password" # Password for pgadmin
